doctype 5
html
    head
        title Distributed Practicing System - #{project}:#{group} is being practiced
    body
        h1 Distributed Practicing System - #{project}:#{group} is being practiced
        h2 Try another one
        a(href='/') go back
