doctype 5
html
    head
        title Distributed Practicing System - TouchPal
    body
        h1 Distributed Practicing System - Touchpal
        h2 Please select a project
        -if (typeof projects != 'undefined')
            -for (var i = 0; i < projects.length; i++)
                -project = projects[i]
                p
                    a(href='/claim?' + 'project=' + project) #{project}
